.inline-block {
  display:inline-block;
  vertical-align:top;
  width: 95%;
  /*float: right;*/
  
  }

  .inline-block li {
    width: 75px;
    
  }

/*logo below*/

  /*.inline-block img {
      max-width: 100px;
      height: auto;
      padding:1%;
      text-align:center;
      display: block;
      margin-right: auto;
      margin-left: 0;
  }*/

  /*Navigation below*/

  nav {
      width:97%;
      padding:20px;
      background-color:#66B1F2;
      text-align: center;
  }

  .nav-link {
    padding: 20px;
  }

  /*#left {
      float: right;
      margin-right:0px;
      margin-left:50%;
  }*/

  ul {
      width:50%;
      margin-left:auto;
      display:inline-block;
      vertical-align:top;
      padding:20px;
  }

  .heroImg {
      width:80%;
      padding:15px;
      margin: auto;
  }

  /*.content img {
    margin-right:0;
    margin-left:auto;
    display:block;
  }*/

  #right {
    float: right;
    margin-right: 0px;
    margin-left: auto;
  }

  /*#left {
    float: left;
    margin-right:auto;
    margin-left: 0;
  }*/

  /*.content{
      width:500px;
      margin:0 auto;
  }*/

  footer {
      background-color:#66B1F2;
      width: 97%;
      padding: 20px;
      text-align: center;
  }

  body {
    color: #212121;
    font-family: 'Montserrat', sans-serif;
  }

/*<!--  My UX Skills section coded using CSS flex -->*/

.flexContainer {
  display:flex;
}
.flexContainer div {
  width:33%;
  margin: 25px;
  padding: 25px;
  flex-direction: column;
}

.mySkills {
  width:80%;
  padding:15px;
  margin: auto;
}

/*<!-- My Work Section Constructed using CSS Grid -->*/

#myWork {
  width:80%;
  padding:15px;
  margin: auto;
}

#myWork h3 {
  width:95%;
  padding:15px;
  margin: auto;
}

.workGrid{
  display:grid;
}

.workGrid div {
  grid-template-rows: 125px 50%;
  grid-template-columns: 125px 50%;
  width: 50%;
  padding: 25px;
  grid-template-areas:
    "leftContent rightContent"
}

.workGrid img {
  padding:15px;
}

@media only screen and (max-width: 600){
  .flexContainer {
    flex-direction:column;
  }
  .flexContainer div {
    width: 100%;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "aboutMyself"
      "mySkills"
      "myWork"
  }
}